<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Wanderit</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300" rel="stylesheet" type="text/css">

    <!-- BASE CSS -->
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/menu.css" rel="stylesheet">
    <link href="/static/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/static/fonts/material-design/material-design.min.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="/static/css/ion.rangeSlider.min.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

    <div class="layer"></div>
    <!-- Menu mask -->

    <!-- Header ================================================== -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col--md-4 col-sm-3 col-xs-4">
                    <a href="/" id="logo"><img src="/static/img/Wanderit-white.png" height="30" alt="" data-retina="true">
                    </a>
                </div>
                 <nav class="col--md-8 col-sm-9 col-xs-8">
                    <ul id="primary_nav">
                        <li id="wishlist"><a href="/accounts/signup">Sign Up</a>
                        </li>
                        <li id="login"><a href="/accounts/login">Login</a>
                        </li>
                        <li id="buy"><a href="/">Request Beta</a>
                        </li>
                        <li id="search">
                            <div class="dropdown dropdown-search">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                                <div class="dropdown-menu">
                                    <form>
                                        <div id="custom-search-input-header">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <input type="submit" class="btn_search_2" value="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="/static/img/Wanderit-black.png" alt="img" data-retina="true" height="30">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/">Home</a>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Flights<i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="/home">Search Results</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Destinations<i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="javascript:void(0);">Coming soon!</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- End main-menu -->
                </nav>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </header>
    <!-- End Header =============================================== -->

    <!-- SubHeader =============================================== -->
    <section class="parallax_window_in" data-parallax="scroll" data-image-src="https://i.ytimg.com/vi/ANxvQHuW9S8/maxresdefault.jpg">
        <div id="sub_content_in">
            <h1>Your Search Results</h1>
            <p>
                Maybe your next boarding card is here...
            </p>
        </div>
        <!-- End sub_content -->
    </section>
    <!-- End section -->
    <!-- End SubHeader ============================================ -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="/">Home</a>
                </li>
                <li><a href="/">Flights</a>
                </li>
                <li>Search Results</li>
            </ul>
        </div>
    </div>
    <!-- End position -->
    <div class="container margin_60_30">
        <div class="row">

            <aside class="col-md-3 col-md-push-9" id="sidebar">
                <div class="theiaStickySidebar ">
                    <div id="filter_tools">
                        <ul>
                            <li><a href="florence-must-see-map-listing.html" id="map_icon">Map view</a>
                            </li>
                            <li><a href="#0" id="grid_icon">Grid view</a>
                            </li>
                            <li><a href="florence-must-see-list.html" id="list_icon">List view</a>
                            </li>
                        </ul>
                    </div>
                    <div id="filters_col">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
                        <div class="collapse" id="collapseFilters">
                            <div class="filter_type">
                                <h6>Duration</h6>
                                <input type="text" id="range" name="range" value="">
                            </div>
                            <div class="filter_type">
                                <h6>Destinations</h6>
                                <ul>
                                    {% for destination in destinations %}
                                    <li>
                                        <label>{{ destination.destination.name }}</label>
                                        <input id-destination="{{ destination.destination.code }}" type="checkbox" class="js-switch" checked>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="filter_type">
                                <h6>Dates</h6>
                                <ul>
                                    {% for date in dates %}
                                    <li>
                                        <label>{{ date.start_date|date:"d/m/Y" }} - {{ date.end_date|date:"d/m/Y" }}</label>
                                        <input id-outbound="{{ date.start_date|date:"d/m/Y" }}" id-inbound="{{ date.end_date|date:"d/m/Y" }}" type="checkbox" class="js-switch" checked>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--End collapse -->
                    </div>
                    <!--End filters col-->
                </div>
                <!--End Sticky -->
            </aside>
            <!--End aside -->
            {% block content %}{% endblock %}
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->

    <div class="bg_white">
        <div class="container margin_60_30">
            <h3 class="second_title">View other categories</h3>
            <div class="carousel box_cat small">
                <div>
                    <a href="florence-must-see-grid.html">
                        <i class=" icon_set_1_icon-1"></i>
                        <h3>Must see</h3>
                    </a>
                </div>
                <div>
                    <a href="florence-events-grid.html">
                        <i class="icon_set_1_icon-41"></i>
                        <h3>Events</h3>
                    </a>
                </div>
                <div>
                    <a href="florence-transports.html">
                        <i class="icon_set_1_icon-25"></i>
                        <h3>Transport</h3>
                    </a>
                </div>
                <div>
                    <a href="florence-restaurants-grid.html">
                        <i class="icon_set_1_icon-58"></i>
                        <h3>Restaurants</h3>
                    </a>
                </div>
                <div>
                    <a href="florence-hotels-grid.html">
                        <i class="icon_set_1_icon-6"></i>
                        <h3>Hotels </h3>
                    </a>
                </div>
                <div>
                    <a href="florence-bars-grid.html">
                        <i class="icon_set_1_icon-20"></i>
                        <h3>Cocktail Bars</h3>
                    </a>
                </div>
                <div>
                    <a href="florence-shops-grid.html">
                        <i class="icon_set_1_icon-50"></i>
                        <h3>Shops</h3>
                    </a>
                </div>
                <div>
                    <a href="faq.html">
                        <i class="icon_set_1_icon-54"></i>
                        <h3>Info&amp;Faqs</h3>
                    </a>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <!-- End bg_white -->

    <!-- Footer ================================================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h3>About us</h3>
                    <p>Dolorem nusquam molestie ut mei, ut sit dico omnis. Cu quod congue has, at sumo esse viderer mea. Id assum saperet definitiones qui.</p>
                    <p><img src="/static/img/Wanderit-black.png" alt="img" class="hidden-xs" height="30" data-retina="true">
                    </p>
                </div>
                <div class="col-md-3 col-sm-4">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#0">About us</a>
                        </li>
                        <li><a href="#0">Faq</a>
                        </li>
                        <li><a href="#0">Contacts</a>
                        </li>
                        <li><a href="#0">Login</a>
                        </li>
                        <li><a href="#0">Register</a>
                        </li>
                        <li><a href="#0">Terms and conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4" id="newsletter">
                    <h3>Newsletter</h3>
                    <p>
                        Join our newsletter to keep be informed about offers and news.
                    </p>
                    <div id="message-newsletter_2">
                    </div>
                    <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                        <div class="form-group">
                            <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail" class="form-control">
                        </div>
                        <p>
                            <input type="submit" value="Subscribe" class="button" id="submit-newsletter_2">
                        </p>
                    </form>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h3>Settings</h3>
                    <div class="styled-select">
                        <select class="form-control" name="lang" id="lang">
                            <option value="English" selected>English</option>
                            <option value="French">French</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Russian">Russian</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- End row -->
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    © Wanderit 2016 - All Rights Reserved
                </div>
                <div class="col-sm-6">
                    <div id="social_footer">
                        <ul>
                            <li><a href="http://facebook.com/wanderitcom"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://twitter.com/wanderitcom"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://github.com/crodriguezanton/wanderit"><i class="fa fa-github"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </footer>
    <!-- End Footer =============================================== -->

    <!-- COMMON SCRIPTS -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/common_scripts_min.js"></script>
    <script src="assets/validate.js"></script>
    <script src="/static/js/functions.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="/static/js/raphael-2.1.4.min.js"></script>
    <script src="/static/js/justgage.min.js"></script>
    <script src="/static/js/score.js"></script>
    <script src="/static/js/ion.rangeSlider.min.js"></script>
    <script src="/static/js/switchery.min.js"></script>

    <!-- Fixed sidebar + Input Range + Carousel + Switch-->
    <script src="/static/js/theia-sticky-sidebar.min.js"></script>
    {% block extra_js %}{% endblock %}
    <script>
        'use strict';
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });

        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 500,
            from: 60,
            to: 130,
            type: 'double',
            step: 1,
            postfix: "€",
            grid: false
        });

        $('.carousel').owlCarousel({
            items: 1,
            loop: true,
			margin: 10,
            autoplay: false,
            smartSpeed: 300,
            responsiveClass: true,
            responsive: {
                320: {
                    items: 2,
                },
                1000: {
                    items: 6,
                }
            }
        });

        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, {
                size: 'small'
            });
        });
    </script>
</body>

</html>