{% extends 'base.html' %}
{% load boardingpass %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/widgets/weather.min.css?v2.2.0">
    <link rel="stylesheet" href="/static/css/pages/boarding-pass.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="widget widget-shadow">
            <div class="widget-header cover overlay">
              <img class="cover-image height-200" src="http://getbootstrapadmin.com/remark/material/global/photos/city-5-960x640.jpg" alt="...">
              <div class="overlay-panel overlay-background">
                <div class="font-size-16 pull-right"><i class="icon md-pin" aria-hidden="true"></i></div>
                <p class="font-size-20">Your future travel to:</p>
                <p class="font-size-20">

                  <span class="font-size-40 blue-500">Worldwide
                  </span>


                </p>
                <p class="margin-bottom-5">Prices from:</p>
                <p><b>350,25€</b></p>
              </div>
            </div>
          </div>

            <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Your desired cities</h3>
            </div>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>AMS</td>
                  <td>Amsterdam</td>
                    <td style="text-align: right">
                        <a class="btn btn-pure btn-danger icon md-minus-circle-outline waves-effect waves-circle waves-classic" style="text-decoration: none" data-toggle="tooltip" data-placement="right" data-original-title="Delete"></a>
                    </td>
                </tr>
                <tr>
                  <td>NYC</td>
                  <td>New York</td>
                    <td style="text-align: right">
                        <a class="btn btn-pure btn-danger icon md-minus-circle-outline waves-effect waves-circle waves-classic" style="text-decoration: none" data-toggle="tooltip" data-placement="right" data-original-title="Delete"></a>
                    </td>
                </tr>
                <tr>
                  <td>BUD</td>
                  <td>Budapest</td>
                    <td style="text-align: right">
                        <a class="btn btn-pure btn-danger icon md-minus-circle-outline waves-effect waves-circle waves-classic" style="text-decoration: none" data-toggle="tooltip" data-placement="right" data-original-title="Delete"></a>
                    </td>
                </tr>
                <tr>
                  <td>LON</td>
                  <td>London</td>
                    <td style="text-align: right">
                        <a class="btn btn-pure btn-danger icon md-minus-circle-outline waves-effect waves-circle waves-classic" style="text-decoration: none" data-toggle="tooltip" data-placement="right" data-original-title="Delete"></a>
                    </td>
                </tr>
              </tbody>
            </table>
                <div class="panel-footer add-panel" onclick="location.href='#';" style="cursor: pointer;">
                        Add new
            </div>
          </div>

            <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Your Vacation Calendar</h3>
            </div>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>08/12/2016 - 11/12/2016</td>
                    <td style="text-align: right">
                        <a class="btn btn-pure btn-danger icon md-minus-circle-outline waves-effect waves-circle waves-classic" style="text-decoration: none" data-toggle="tooltip" data-placement="right" data-original-title="Delete"></a>
                    </td>
                </tr>
                <tr>
                  <td>28/01/2017 - 03/02/2017</td>
                    <td style="text-align: right">
                        <a class="btn btn-pure btn-danger icon md-minus-circle-outline waves-effect waves-circle waves-classic" style="text-decoration: none" data-toggle="tooltip" data-placement="right" data-original-title="Delete"></a>
                    </td>
                </tr>
              </tbody>
            </table>
                <div class="panel-footer add-panel" onclick="location.href='#';" style="cursor: pointer;">
                        Add new
            </div>
          </div>
        </div>
        <div class="col-lg-9">
            <h2 style="text-align: center; padding-top: 0px;"><i class="icon md-flight-takeoff" aria-hidden="true"></i> Your future boarding passes</h2>
            <div class="row">
                    {% for report in report_list %}
                        {% boardingpass report %}
                        <div class="col-lg-6">
                    <div id="ticket">
                <div class="row perforated first">
                    <img class="logo"
                         src="{{ carrier.image }}"/>
                    <div class="right">
                        <div class="ticket-label">{{ carrier.name }}</div>
                        <div class="num">{{ carrier.code }}</div>
                    </div>
                </div>
                <div class="row perforated destinations">
                    <div class="left">
                        <div class="ticket-label">Departing</div>
                        <div class="airport">{{ report.origin.code }}</div>
                        <div class="city">{{ report.origin.name }}</div>
                    </div>

                    <svg id="plane" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
          <g>
            <path d="M12.5,50L6.25,31.25h6.25L25,43.75h25L31.25,6.25h6.25l31.25,37.5h12.5c0,0,12.5,0,12.5,6.25s-12.5,6.25-12.5,6.25h-12.5   L37.5,93.75h-6.25L50,56.25H25l-12.5,12.5H6.25L12.5,50z" />
          </g>
        </svg>

                    <div class="right">
                        <div class="ticket-label">Arriving</div>
                        <div class="airport">{{ report.destination.code }}</div>
                        <div class="city">{{ report.destination.name }}</div>
                    </div>
                </div>
                <div class="row normRow">
                    <div>
                        <div class="ticket-label">Passenger</div>
                        <div class="col">Carlos Rodríguez</div>
                    </div>

                </div>
                <div class="row normRow">
                    <div class="col6">
                        <div class="ticket-label">Outbound</div>
                        <div>{{ report.outbound|date:'d/m/Y' }}</div>
                    </div>
                    <div class="col6">
                        <div class="ticket-label">Inbound</div>
                        <div>{{ report.inbound|date:'d/m/Y' }}</div>
                    </div>
                </div>
                <div class="row normRow">

                    <div class="col6">
                        <div class="ticket-label">Recommendation</div>
                        <div class="">{{ recommendation }}</div>
                    </div>
                    <div class="col6">
                        <div class="ticket-label">PRICE Trend</div>
                        <div>{{ price_trend }}</div>
                    </div>


                </div>
                <div class="row ticket-pricing" onclick="location.href='{{ pricing_option.deeplink }}';" style="cursor: pointer;">
                        <div class="col6">
                            <div class="ticket-label">From:</div>
                            <b>{{ pricing_option.price|floatformat:2 }}€</b>
                        </div>
                        <div class="col6 right" style="padding-right: 30px">
                            <div>BOOK NOW </div>
                            <div class="ticket-label">{{ pricing_option.get_agent.name }}</div>
                        </div>
                        <i class="icon md-arrow-right arrow-icon"></i>
                    </div>
            </div>
                </div>
                        {% endboardingpass %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}