<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Wanderit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="/static/css/coming_soon/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/coming_soon/style.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic">
    
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
  
<div id="wrapper">
	<div id="main">
		<div class="container">
			
			<div class="row countdown">
            	<div class="col-md-12">
                	<h1 style="font-family: Exo, sans-serif;"><b>wander</b><span style="color:#ed145b;">it<sup class="hidden-xs" style="font-size: medium; top: -2.5em;">BETA</sup></span></h1>
                    <h1>We will be live soon!</h1>
                    <h2>Meanwhile, you can leave your email to get access for the <span style="color:#ed145b;">beta!</span></h2>
                </div>
				<div id="countdown_wp">
                    <div class="container_count"><div id="days">00</div>days</div>
                    <div class="container_count"><div id="hours">00</div>hours</div>
                    <div class="container_count"><div id="minutes">00</div>minutes</div>
                    <div class="container_count last"><div id="seconds">00</div>seconds</div>
                </div>
			</div>
            <div class="row">
						<div class="col-md-6 col-md-offset-3">
                        <div id="newsletter_wp" >
                            <form method="post" action="/" id="newsletter" name="newsletter" autocomplete="off">
                                {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-9 first-nogutter">
                                                <input name="email" id="email_newsletter" type="email" placeholder="Your Email" class="form-control">
                                            </div>
                                            <div class="col-md-3 nogutter">
                                                    <button type="submit" class="btn-check" id="submit-newsletter">Get Access</button>
                                            </div>
                                        </div>
                                            <div id="message-newsletter"></div>
                                </form>                         
                            </div>
                        </div>	
                    </div>
                    <div id="social_footer">
                        <ul>
                            <li><a href="http://facebook.com/wanderitcom"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://twitter.com/wanderitcom"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://github.com/crodriguezanton/wanderit"><i class="fa fa-github"></i></a></li>
                            <!--<li><a href="#"><i class="icon-vimeo"></i></a></li>
                            <li><a href="#"><i class="icon-youtube-play"></i></a></li>-->
                        </ul>
                        <p>© wanderit 2016</p>
                    </div>            
		</div><!-- End container -->
	</div><!-- End main -->	

<div id="slides">
	<ul class="slides-container">
		<li><img src="https://i.ytimg.com/vi/ANxvQHuW9S8/maxresdefault.jpg" alt=""></li>
		<li><img src="https://media.timeout.com/images/102908813/image.jpg" alt=""></li>
		<li><img src="http://foundtheworld.com/wp-content/uploads/2016/08/San-Francisco-6.jpg" alt=""></li>
	</ul>
</div><!-- End background slider -->

<!-- JQUERY -->
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/jquery.easing.1.3.min.js"></script>
<script src="/static/js/jquery.animate-enhanced.min.js"></script>
<script src="/static/js/jquery.superslides.min.js"></script>
<script  type="text/javascript">
  $('#slides').superslides({
	  play: 6000,
	  pagination:false,
	  animation_speed: 800,
      animation: 'fade'
    });
</script>
<!-- OTHER JS --> 
<script src="/static/js/retina.min.js"></script>
<script  src="/static/js/coming_soon/functions.js"></script>
  </body>
</html>